<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ site.description }}"/>
  <title>{{ page.title }} | {{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/image/logo.png">
  {% if page.font_awesome != false %}
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  {% endif %}
  {% if page.syntax_highlight != false %}
  <link rel="stylesheet" href="{{ "/assets/css/tomorrow-night-eighties.css" | relative_url }}">
  {% endif %}
  {% if page.jquery == true %}
  <script src="{{ "/assets/scripts/jquery-3.1.0.min.js" | relative_url }}"></script>
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
</head>
