<header class="content-wrapper menu">
  <div class="menu-home">
    <a href="/">{{ site.title }}</a>
  </div>
  <div class="menu-links">
    <div class="menu-item{% if page.title == "Archive" %}{{ " menu-active" }}{% endif %}">
      <a href="/archive.html">Archive</a>
    </div>
    <div class="menu-item{% if page.title == "Project" %}{{ " menu-active" }}{% endif %}">
      <a href="/project.html">Project</a>
    </div>
    <div class="menu-item{% if page.title == "About" %}{{ " menu-active" }}{% endif %}">
      <a href="/about.html">About</a>
    </div>
  </div>
</header>
